body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#famoso-data-container {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
  padding-top: 100px;
  padding-bottom: 100px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  height: 500px;
  display: grid;
  align-items: center;
  border-radius: 10px;
  position: relative;
}

.card img {
  width: 80%;
  height: 400px;
  border-radius: 10px;
  margin: 0 auto;
}

.info-data-container {
  display: none;
  width: 90%;
  margin: 0 auto;
  padding: 15px;
}

.info-data-container img {
  width: 50%;
  height: 240px;
  margin: 0 auto;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
  text-align: center;
}
.container .name {
  margin-top: 0px;
  margin-left: 5%;
}

.container button {
  position: absolute;
  bottom: 10px;
  cursor: pointer;
  border: none;
  font-size: 18px;
}

@media only screen and (min-width: 200px) and (max-width: 500px) {
  #famoso-data-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 100%;
    height: 400px;
  }
  .card img {
    width: 80%;
    height: 310px;
  }
  #info-data-container {
    width: 90%;
  }

  .info-data-container img {
    width: 40%;
    height: 130px;
  }
}

@media only screen and (min-width: 500px) and (max-width: 700px) {
  #famoso-data-container {
    width: 80%;
    grid-template-columns: repeat(1, 1fr);
  }
  .card {
    width: 100%;
    height: 400px;
  }
  .card img {
    width: 70%;
    height: 310px;
  }
  .info-data-container {
    width: 90%;
  }

  .info-data-container img {
    width: 35%;
    height: 130px;
  }
}

@media only screen and (min-width: 700px) and (max-width: 1200px) {
  #famoso-data-container {
    width: 95%;
    grid-template-columns: repeat(2, 1fr);
  }
  .card {
    height: 400px;
  }
  .card img {
    width: 70%;
    height: 280px;
  }

  .info-data-container img {
    width: 32%;
    height: 125px;
  }
}
