body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#hero {
  background-color: #222;
  position: relative;
}
#storio-header-img img {
  width: 100%;
  height: 90vh;
  margin-top: 370px;
}

#storia-header-data-container {
  width: 70%;
  height: 150px;
  background-color: #ffffff;
  position: absolute;
  top: 150px;
  margin: 0 16%;
}
#storia-header-data1 {
  padding-left: 4%;
}
#storia-header-data1 > h1 {
  font-size: 40px;
  color: #000000;
}
#storia-header-data2 {
  width: 100%;
  height: 80%;
  background-color: #222222;
  color: #ffffff;
  border-left: 5px solid #f18a5a;
}
#storia-header-data2 > h1 {
  padding: 25px 0px 0px 50px;
}

#section-container > div > p {
  text-align: justify;
}

#container {
  padding-top: 120px;
  width: 85%;
  margin: 0 auto;
}

#section-container {
  width: 100%;
}

#section-container {
  display: flex;
  align-items: center;
  gap: 5rem;
  margin-top: 5rem;
}
#section-data-container {
  width: 90%;
}

@media screen and (max-width: 600px) {
  #storio-header-img img {
    margin-top: 240px;
  }
  #storia-header-data-container {
    width: 95%;
    height: 100px;
    top: 100px;
    margin: 0 2%;
  }

  #storia-header-data1 > h1 {
    font-size: 18px;
  }
  #storia-header-data2 {
    height: 90%;
  }
  #storia-header-data2 > h1 {
    font-size: 13px;
    padding: 15px;
  }

  #storio-header-img img {
    height: 100%;
  }

  #container {
    width: 95%;
    margin: 0 auto;
  }
  #section-container {
    display: block;
  }
  #section-container > div > img {
    width: 100%;
  }

  #section-container #section-data-container h1 {
    font-size: 22px;
    line-height: 38px;
  }

  #section-container #section-data-container p {
    text-align: justify;
    font-size: 13px;
  }
}

@media only screen and (min-width: 600px) and (max-width: 900px) {
  #storio-header-img img {
    margin-top: 340px;
  }
  #storia-header-data-container {
    width: 95%;
    height: 150px;
    background-color: #ffffff;
    position: absolute;
    top: 120px;
    margin: 0 2%;
  }
  #storia-header-data1 {
    padding-left: 4%;
  }
  #storia-header-data1 > h1 {
    font-size: 30px;
    color: #000000;
  }
  #storia-header-data2 {
    height: 90%;
  }
  #storia-header-data2 > h1 {
    font-size: 20px;
    padding: 25px 0px 0px 20px;
  }

  #section-container {
    gap: 1.5rem;
  }
  #storio-header-img img {
    height: 100%;
  }

  #container {
    width: 95%;
    margin: 0 auto;
  }
  #section-container {
    width: 100%;
  }

  #section-container > div > img {
    width: 100%;
    height: 100%;
  }
  #section-data-container {
    width: 100%;
  }

  #section-container > #section-data-container h1 {
    font-size: 19px;
  }

  #section-container #section-data-container p {
    text-align: justify;
    font-size: 12px;
  }
}

@media only screen and (min-width: 900px) and (max-width: 1500px) {
  #storia-header-data-container {
    width: 80%;
    height: 150px;
    margin: 0 10%;
  }

  #storia-header-data1 > h1 {
    font-size: 40px;
    color: #000000;
  }
  #storia-header-data2 > h1 {
    padding: 25px 0px 0px 28px;
  }

  #section-container {
    gap: 2rem;
  }
  #storio-header-img img {
    height: 100%;
  }

  #container {
    width: 95%;
    margin: 0 auto;
  }
  #section-container {
    width: 100%;
  }

  #section-container > div > img {
    width: 100%;
    height: 100%;
  }
  #section-data-container {
    width: 90%;
  }

  #section-container > #section-data-container h1 {
    font-size: 30px;
  }

  #section-container #section-data-container p {
    text-align: justify;
    font-size: 20px;
  }
}
